* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anek Latin', sans-serif;
  color: #44403c;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 600px;
}

.article {
  display: flex;
  padding: 15px;
  margin-top: 15px;
  border: 4px solid #86198f;
  justify-content: space-between;
  align-items: center;
}

.article-enter {
  transform: translateX(-500px);
}

.article-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.article-exit {
  opacity: 1;
}

.article-exit-active {
  transform: translateY(-200px);
  opacity: 0;
  transition: all 500ms ease-in;
}
